/* responsive media query */
/* small device */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        margin-left: 20px;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
}