/* responsive media query */
/* small device */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features-description{
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        margin-left: 20px;
    }
    .features-description{
        margin-top: 50px;
    }
    .pic img{
        margin-top: -80px;
    }
    .experience-btn{
        margin-left: 10px;
        margin-top: 20px;
    }
    .facts,
    .fact-description{
        margin-left: 30px;
    }
    .facts-container{
        justify-items: center;
        gap: 20px;
    }
    .sponsor-company{
        justify-items: center;
        gap: 50px;
    }
    .foot-para{
    padding: 5px 30px;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width:992px) {
    .teams,
    .features-description{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
    .features-description{
        margin-top: 50px;
    }
    .pic img{
        margin-top: -80px;
    }
    .feature-btn{
        margin-left: 180px;
        margin-top: 20px;
    }
    .experience-btn{
        margin-left: 270px;
        margin-top: 50px;
    }
    .facts,
    .fact-description{
        margin-left: 50px;
    }
    .sponsor-company,
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    .foot-para{
    padding: 23px 50px;
    }
    
}